.DS_Store
venv/
**/.venv/
**/__pycache__/
secret/
inventory.yaml
terraform/**/.terraform
terraform/**/terraform.tfstate*
terraform/**/terraform.tfvars
terraform/**/.terraform.lock.hcl
terraform/**/.terraform.tfstate.lock.info
terraform/**/inventory.yaml
terraform/**/plan.zip
terraform/aws/aws_cluster_data.yaml
terraform/azure/fence_data.json
ansible/playbooks/tmp
ansible/playbooks/roles/sap_storage
ansible/playbooks/go.sh
ansible/playbooks/destroy.sh
ansible/playbooks/vars/hana_media.yaml
ansible/playbooks/vars/hana_vars.yaml
oldbuild.sh
olddestroy.sh
terraform.apply.log
terraform.init.log
terraform.plan.log
settings.json
variables.sh
justansibuilt.sh
altbuild.sh
