terraform/aws/.terraform
terraform/aws/terraform.tfstate*
terraform/aws/terraform.tfvars
terraform/azure/.terraform
terraform/azure/terraform.tfstate*
terraform/azure/terraform.tfvars
terraform/gcp/.terraform
terraform/gcp/terraform.tfstate*
terraform/gcp/terraform.tfvars
terraform/libvirt/.terraform
terraform/libvirt/terraform.tfstate*
terraform/libvirt/terraform.tfvars
ansible/playbooks/tmp
ansible/playbooks/sap-hana-storage.yml
ansible/playbooks/roles/sap_storage
.DS_Store
ansible/playbook/go.sh
/terraform/libvirt/.terraform.lock.hcl
/terraform/gcp/.terraform.tfstate.lock.info
