provider: <PROVIDER>
apiver: 3
terraform:
  # For use of different binary then 'terraform' uncomment and set the following 'bin' variable
  # bin: < YOUR_FAVORIT_BINARY_WITH_FULL_PATH EG: /usr/bin/tofu>
  variables:
    az_region: <YOUR_REGION>
    deployment_name: <YOUR_NAME>
    # On Azure the source of the OS image could be chosen from the catalog - default value
    # or from the uploaded vhd, switch comments if you need to use the other option
    os_image: <YOUR_FAVORITE_SLE_IMAGE>
    # os_image_uri: <URI_TO_YOUR_FAVORITE_UPLOADED_SLE_IMAGE>
    public_key: <YOUR_KEY_PATH>/id_rsa_cloud.pub

ansible:
  # Ansible verbosity (from 1 to 6)
  # verbosity: 4
  az_storage_account_name: <YOUR_ACCOUNT>
  az_container_name:  <YOUR_CONTAINER>
  az_sas_token: <YOUR_TOKEN>
  hana_media:
    - <YOUR_SAPCAR>
    - <IMDB_SERVER>
    - <IMDB_CLIENT>
  create:
    - registration.yaml -e reg_code=${REG_CODE} -e email_address=${EMAIL}
    # Uncomment to install from an IBS mirror instead of the SCC repositories.
    # It has to come before packages-install.yaml, which then also needs
    # '-e use_ibsm=true' to check that the mirror is really in place.
    # Uncomment the matching IBSM_* entries in 'variables' below as well:
    # an unresolved ${...} makes qesap fail.
    # - ibsm.yaml -e ibsm_ip=${IBSM_IP} -e download_hostname=${IBSM_HOSTNAME} -e repos=${IBSM_REPOS}
    # packages-install.yaml installs all the packages needed by the
    # deployment. It must not be executed before registration.yaml, nor
    # before ibsm.yaml when an IBS mirror is used.
    - packages-install.yaml -e use_sapconf=${SAPCONF}
    - pre-cluster.yaml
    - sap-hana-preconfigure.yaml -e use_sapconf=${SAPCONF}
    - cluster_sbd_prep.yaml
    - sap-hana-storage.yaml
    - sap-hana-download-media.yaml
    - sap-hana-install.yaml
    - sap-hana-system-replication.yaml
    - sap-hana-system-replication-hooks.yaml
    - sap-hana-cluster.yaml
  destroy:
    - deregister.yaml
  variables:
    REG_CODE: <YOUR_CODE>
    EMAIL: <YOUR_REG_EMAIL>
    SAPCONF: true
    # Only needed when the ibsm.yaml line above is uncommented.
    # IBSM_IP: <YOUR_MIRROR_IP>
    # IBSM_HOSTNAME: <YOUR_MIRROR_DOWNLOAD_HOSTNAME>
    # IBSM_REPOS: <COMMA_SEPARATED_REPO_URLS>
