all:
  children:
    hana:
      hosts:
%{ for index, value in hana-pip ~}
        ${hana-name[index]}:
          ansible_host: ${value}
          ansible_python_interpreter: /usr/bin/python3
%{ endfor ~}
 %{ if iscsi-enabled }
    iscsi:
      hosts:
 %{ for index, value in iscsi-pip ~}
        ${iscsi-name[index]}:
          ansible_host: ${value}
          ansible_python_interpreter: /usr/bin/python3
%{ endfor ~}
%{ endif }
  hosts: null