all:
  vars:
    cloud_platform_name: aws
    aws_route_table_id: ${routetable_id}
    cluster_ip: ${cluster_ip}
    aws_stonith_tag: ${stonith_tag}
    aws_region: ${region}
  children:
    hana:
      hosts:
%{ for index, value in hana_pip ~}
        ${hana_name}${format("%02d", index + 1)}:
          ansible_host: ${value}
          ansible_python_interpreter: ${hana_remote_python}
          hana_machinetype: ${hana_machinetype}
          ebs_id_to_device_name:
%{ for ebs_map_key, ebs_map_value in ebs_map[index] ~}
          - ${ebs_map_key}: ${ebs_map_value}
%{ endfor ~}
%{ endfor ~}
%{ if iscsi_enabled }
    iscsi:
      hosts:
%{ for index, value in iscsi_pip ~}
        ${iscsi_name}${format("%02d", index + 1)}:
          ansible_host: ${value}
          ansible_python_interpreter: ${iscsi_remote_python}
          iscsi_machinetype: ${iscsi_machinetype}
%{ endfor ~}
%{ endif }
  hosts: null
