---
- name: Fully patch playbookhosts
  hosts: all
  remote_user: cloudadmin
  become: true
  become_user: root
  vars:
    use_reboottimeout: 600

  tasks:
    # Fully patch system
    - name: Apply all available patches
      community.general.zypper:
        name: '*'
        state: latest
        type: patch
      notify: Reboot after patch

  handlers:
    - name: Reboot after patch
      ansible.builtin.reboot:
        msg: "Reboot initiated by Ansible - after full patch system"
        reboot_timeout: "{{ use_reboottimeout | int }}"
        connect_timeout: 5
