---
- name: Fully patch playbookhosts
  hosts: all
  become: true
  become_user: root
  vars:
    # Set use_reboottimeout default value to 1200,
    # as for AWS 'r5b.metal' instance type the reboot elapses at least 800 seconds
    use_reboottimeout: 1200
    use_connecttimeout: 10

  tasks:
    - name: List configured repositories
      ansible.builtin.command: zypper lr -uP
      changed_when: false

    - name: List applicable patches
      ansible.builtin.command: zypper lp
      changed_when: false

    # Fully patch system
    - name: Apply all available patches
      community.general.zypper:
        name: '*'
        state: latest
        type: patch
        extra_args: '--with-interactive -l'
      environment:
        ZYPP_LOCK_TIMEOUT: '120'
      register: zypper_patch
      until: zypper_patch.rc in [0, 102]
      retries: 5
      delay: 30
      failed_when: zypper_patch.rc not in [0, 102, 103]
      changed_when: zypper_patch.rc == 102 or zypper_patch.changed
      notify: Reboot after patch

  handlers:
    - name: Reboot after patch
      ansible.builtin.reboot:
        msg: "Reboot initiated by Ansible - Zypper RC: {{ zypper_patch.rc | default('N/A') }}"
        reboot_timeout: "{{ use_reboottimeout | int }}"
        connect_timeout: "{{ use_connecttimeout | int }}"
