---
- name: SAP HANA Install
  hosts: hana
  become: true
  become_user: root
  pre_tasks:
    - name: Source hana install variables
      ansible.builtin.include_vars: ./vars/hana_vars.yaml
  vars:
    install_path: /var/lib/qedep
    install_file: "{{ install_path }}/{{ sap_hana_install_sid }}_install"
    use_community_roles: "{{ enable_community_sap_roles | default(false) | bool }}"

  tasks:
    - name: Check for previous installation of HANA SID
      ansible.builtin.file:
        path: "{{ install_file }}"
        state: file
      check_mode: true
      register: sid_file_check
      changed_when: false
      failed_when: false

    - name: Set install facts
      ansible.builtin.set_fact:
        hana_installed: "{{ sid_file_check.state }}"

    - name: Execute hana install role (upstream)
      ansible.builtin.include_role:
        name: community.sap_install.sap_hana_install
      vars:
        sap_hana_install_update_firewall: "{{ firewall_cfg | default('ignore') == 'enable' }}"
      when:
        - hana_installed == 'absent'
        - use_community_roles | bool

    - name: Execute hana install role (local)
      ansible.builtin.include_role:
        name: sap_hana_install
      vars:
        sap_hana_install_update_firewall: "{{ firewall_cfg | default('ignore') == 'enable' }}"
      when:
        - hana_installed == 'absent'
        - not use_community_roles | bool

    - name: Write status file
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: "{{ item.state }}"
        owner: root
        group: root
        mode: '0700'
      with_items:
        - {'path': "{{ install_path }}", 'state': 'directory'}
        - {'path': "{{ install_file }}", 'state': 'touch'}
      when: hana_installed == 'absent'
