---
- hosts: hana
  remote_user: cloudadmin
  become: true
  become_user: root
  vars:
    # is_primary is selected so that tasks that need to be issued one are honoured correctly
    is_primary: "{{ ansible_play_hosts[0] == inventory_hostname }}"
    primary_hostname: "{{ ansible_play_hosts[0] }}"
    # Azure fencing specific vars
    azure_identity_management:  # use 'spi' (service principal) or 'msi' (managed identity)
    # Azure fencing - SPN related variables
    spn_application_id:
    spn_application_password:
    # corosync variables
    crypto_hash: sha1
    crypto_cipher: aes256
      
  handlers:
  - name: Restart systemd daemon
    ansible.builtin.systemd:
      daemon_reload: yes

  - name: Start pacemaker
    ansible.builtin.systemd:
      name: pacemaker
      state: started

  pre_tasks:
    - name: Detect cloud platform
      ansible.builtin.include_tasks:
        ./tasks/detect-cloud-platform.yaml
    - name: Detection result
      ansible.builtin.debug:
        msg: "Cloud platform appears to be {{ cloud_platform_name }}"

    - name: Load SAP HANA variables
      ansible.builtin.include_vars: ./vars/hana_vars.yaml
        

  tasks:

  - name: Include AWS variables
    ansible.builtin.include_vars: ../../terraform/aws/aws_cluster_data.yaml
    when: cloud_platform_is_aws

  - name: Base Cluster Configuration [azure]
    ansible.builtin.include_tasks: ./tasks/azure-cluster-bootstrap.yaml
    when: cloud_platform_is_azure
    tags: bootstrap

  - name: Base Cluster Configuration [aws]
    ansible.builtin.include_tasks: ./tasks/cluster-bootstrap.yaml
    when: cloud_platform_is_aws
    tags: bootstrap

  - name: Base Cluster Configuration [gcp]
    ansible.builtin.include_tasks: ./tasks/cluster-bootstrap.yaml
    when: cloud_platform_is_gcp
    tags: bootstrap

  - name: Add HANA to cluster [azure]
    ansible.builtin.include_tasks: ./tasks/azure-cluster-hana.yaml
    when:
      - cloud_platform_is_azure
      - is_primary
    tags: hana_cluster

  - name: Add HANA to cluster [aws]
    ansible.builtin.include_tasks: ./tasks/cluster-hana.yaml
    when:
      - cloud_platform_is_aws
      - is_primary

  - name: Add HANA to cluster [gcp]
    ansible.builtin.include_tasks: ./tasks/cluster-hana.yaml
    when:
      - cloud_platform_is_gcp
      - is_primary
