---
- name: SAP HANA download media
  hosts: hana
  vars:
    hana_download_path: /hana/shared/install
    url_timeout: 30
    url_retries_cnt: 5
    url_retries_delay: 10

  tasks:

    - name: Include external variables
      ansible.builtin.include_vars: ./vars/hana_media.yaml

    - name: Retrieve account key
      ansible.builtin.command: >-
        az storage account keys list \
        --account-name {{ az_storage_account_name }} \
        --query "[?contains(keyName,'{{ az_key_name }}')].value" \
        -o tsv
      delegate_to: 127.0.0.1
      no_log: true
      run_once: true  # noqa: run-once[task] fine to ignore as not using strategy:free
      register: az_account_key
      changed_when: az_account_key.rc == 0
      when: az_sas_token is not defined or az_sas_token == ""

    - name: "Set expiry"
      ansible.builtin.command: "date -u +'%Y-%m-%dT%H:%MZ' -d '+3 hours'"
      delegate_to: 127.0.0.1
      run_once: true  # noqa: run-once[task] fine to ignore as not using strategy:free
      register: expiry
      changed_when: true
      when: az_sas_token is not defined or az_sas_token == ""

    - name: Generate SAS token
      ansible.builtin.command: >-
        az storage container generate-sas \
          --account-name {{ az_storage_account_name }} \
          --account-key {{ az_account_key.stdout }} \
          --name {{ az_container_name.split('/')[0] }} \
          --permission r \
          --expiry {{ expiry.stdout }} \
          --out tsv
      delegate_to: 127.0.0.1
      changed_when: false
      no_log: true
      run_once: true  # noqa: run-once[task] fine to ignore as not using strategy:free
      register: az_sas_token_output
      when: az_sas_token is not defined or az_sas_token == ""

    - name: Set az_sas_token fact
      ansible.builtin.set_fact:
        az_sas_token: "{{ az_sas_token_output.stdout }}"
      delegate_to: 127.0.0.1
      run_once: true  # noqa: run-once[task] fine to ignore as not using strategy:free
      when: az_sas_token is not defined or az_sas_token == ""

    - name: Create software directory
      ansible.builtin.file:
        path: "{{ hana_download_path }}"
        state: directory
        owner: root
        group: root
        mode: "0755"
      become: true
      become_user: root

    - name: Download HANA media with SAS token
      ansible.builtin.get_url:
        url: "https://{{ az_storage_account_name }}.blob.core.windows.net/{{ az_container_name }}/{{ item }}?{{ az_sas_token }}"
        dest: "{{ hana_download_path + '/' + item | split('/') | last }}"
        owner: root
        group: root
        mode: "0600"
        timeout: "{{ url_timeout }}"
      register: result
      until: result is succeeded
      retries: "{{ url_retries_cnt }}"
      delay: "{{ url_retries_delay }}"
      with_items: "{{ az_blobs }}"
      become: true
      become_user: root
      when: az_sas_token is defined
