---
- hosts: hana
  remote_user: cloudadmin
  become: true
  become_user : root
  pre_tasks:
    - name: Detect cloud platform
      ansible.builtin.include_tasks:
        ./tasks/detect-cloud-platform.yaml
    - name: Detection result
      ansible.builtin.debug:
        msg: "Cloud platform appears to be {{ cloud_platform_name }}"

  tasks:

  - name: Load AWS disk configuration
    ansible.builtin.include_vars: ./vars/aws_hana_storage_profile.yaml
    when: cloud_platform_is_aws    

  - name: Load Azure disk configuration
    ansible.builtin.include_vars: ./vars/azure_hana_storage_profile.yaml
    when: cloud_platform_is_azure

  - name: Load Azure disk configuration
    ansible.builtin.include_vars: ./vars/gcp_hana_storage_profile.yaml
    when: cloud_platform_is_gcp

  - name: HANA storage preparation
    vars:
      sap_storage_cloud_type: 'generic'
      sap_storage_sap_type: 'sap_hana'
      sap_storage_action: 'prepare'
    include_role: 
      name: ../roles/sap_storage
