all:
  vars:
    use_sbd: ${use_sbd}
    resource_group_name: ${resource_group_name}
    subscription_id: ${subscription_id}
    tenant_id: ${tenant_id}
    cluster_ip: ${cluster_ip}
  children:
    hana:
      hosts:
%{ for index, value in hana_pip ~}
        ${hana_name[index]}:
          ansible_host: ${value}
          ansible_python_interpreter: ${hana_remote_python}
%{ endfor ~}
%{ if iscsi_enabled }
    iscsi:
      hosts:
%{ for index, value in iscsi_pip ~}
        ${iscsi_name[index]}:
          ansible_host: ${value}
          ansible_python_interpreter: ${iscsi_remote_python}
%{ endfor ~}
%{ endif }
  hosts: null
