all:
  children:
    hana:
      hosts:
%{ for index, value in hana-pip ~}
        ${hana-base-name}${format("%02d", index + 1)}:
          ansible_host: ${value}
          ansible_python_interpreter: ${hana-remote-python}
%{ endfor ~}
%{ if iscsi-enabled }
    iscsi:
      hosts:
%{ for index, value in iscsi-pip ~}
        ${iscsi-name[index]}:
          ansible_host: ${value}
          ansible_python_interpreter: ${iscsi-remote-python}
%{ endfor ~}
%{ endif }
      vars:
        gcp_cluster_ip: ${hana-vip}
        prefix: ${name_prefix}
  hosts: null
