all:
  children:
    hana:
      hosts:
%{ for index, value in hana-pip ~}
        ${hana-name[index]}:
          ansible_host: ${value}
          %{ if hana-major-version == "12" }ansible_python_interpreter: /usr/bin/python2.7%{ else }ansible_python_interpreter: /usr/bin/python3 %{ endif }
%{ endfor ~}
%{ if iscsi-enabled }
    iscsi:
      hosts:
%{ for index, value in iscsi-pip ~}
        ${iscsi-name[index]}:
          ansible_host: ${value}
          %{ if iscsi-major-version == "12" }ansible_python_interpreter: /usr/bin/python2.7%{ else }ansible_python_interpreter: /usr/bin/python3%{ endif }
%{ endfor ~}
%{ endif }
  hosts: null