#################################
# qe-sap-deployment project configuration file
# Find all the available variables and definitions in the variables.tf file
#################################

# GCP project id
project = "my-project"

# Credentials file for GCP
gcp_credentials_file = "my-project.json"

# Region where to deploy the configuration
region = "europe-west1"

# Use an already existing vpc
#vpc_name = "my-vpc"

# Use an already existing subnet in this virtual network
#subnet_name = "my-subnet"

# vpc address range in CIDR notation
# Only used if the vpc is created by terraform or the user doesn't have read permissions in this
# resource. To use the current vpc address range set the value to an empty string
# To define custom ranges
#ip_cidr_range = "10.0.0.0/24"
# Or to use already existing address ranges
#ip_cidr_range = ""

#################################
# General configuration variables
#################################

# Deployment name. This variable is used to complement the name of multiple infrastructure resources adding the string as suffix
# If it is not used, the terraform workspace string is used
# The name must be unique among different deployments
deployment_name = "mydeployment"

# Add the "deployment_name" as a prefix to the hostname.
#deployment_name_in_hostname = true

# Default os_image. This value is not used if the specific values are set (e.g.: hana_os_image)
# If `gcloud` utility is available in your local machine, the next command shows some of the available options
# gcloud compute images list --standard-images --filter=sles
# Combine the project and name values. The version part can be ignored to get the latest version
# BYOS images are usually available using `suse-byos-cloud` and addind `byos` sufix to the nanem
#os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"

# The project requires a pair of SSH keys (public and private) to provision the machines
# The private key is only used to create the SSH connection, it is not uploaded to the machines
# Besides the provisioning, the SSH connection for this keys will be authorized in the created machines
# The public keys is provided using the next variable in 2 different ways
# Path to already existing keys
public_key  = "/home/myuser/.ssh/id_rsa.pub"

# Or provide the content of SSH keys
#public_key  = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCt06V...."


# Authorize additional keys optionally (in this case, the private key is not required)
# Path to local files or keys content
#authorized_keys = ["/home/myuser/.ssh/id_rsa_second_key.pub", "/home/myuser/.ssh/id_rsa_third_key.pub", "ssh-rsa AAAAB3NzaC1yc2EAAAA...."]

# Admin user to deploy in the remote machines. Defaults to cloudadmin
#admin_user = "cloudadmin"

##########################
# Other deployment options
##########################

# Testing and QA purpose

# Execute HANA Hardware Configuration Check Tool to bench filesystems
# true or false (default)
#hwcct = false

#########################
# HANA machines variables
#########################

# Hostname, without the domain part
hana_name = "vmhana"

# HANA machine type
# VM size to use for the cluster nodes
machine_type = "n1-highmem-32"

# Custom sles4sap image
# HANA machines image. By default, PAYG image is used (it will select the latest version that matches this name)
# If `gcloud` utility is available in your local machine, the next command shows some of the available options
# gcloud compute images list --standard-images --filter=sles
# Combine the project and name values. The version part can be ignored to get the latest version
# BYOS images are usually available using `suse-byos-cloud` and adding `byos` suffix to the name
#hana_os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"

# Disk type for HANA
#hana_data_disk_type = "pd-ssd"

# Disk size for HANA database content in GB
# For S/4HANA a big disk size is required, at least 350GB
#hana_data_disk_size  = 896 # 896GB

# Disk type for HANA backup
#hana_backup_disk_type = "pd-standard"

# Disk size for HANA backup in GB
#hana_backup_disk_size = "128" # 128GB

# HANA cluster vip mechanism. This option decides whether to use a load-balancer or routes to forward the traffic to the virtual ip address.
# Options: "load-balancer" (default), "route"
#hana_cluster_vip_mechanism = "load-balancer"

# HANA cluster vip
# If the vip mechanism is the load balancer, this IP address must belong to the same subnet as the hana machines
#hana_cluster_vip = "10.0.0.12"
# If the vip_mechanism is the routing system, this IP address must NOT belong to the same subnet range than the hana machines
#hana_cluster_vip = "10.0.1.12"

# Enable system replication and HA cluster
#hana_ha_enabled = true

# Disable minimal memory checks for HANA. Useful to deploy development clusters.
# Low memory usage can cause a failed deployment. Be aware that this option does
# not work with any memory size and will most likely fail with less than 16 GiB
#hana_ignore_min_mem_check = false

# Select HANA cluster fencing mechanism. 'native' by default
# Find more information in `doc/fencing.md` documentation page
#hana_cluster_fencing_mechanism = "sbd"

# Enable Active/Active HANA setup (read-only access in the secondary instance)
#hana_active_active = true

# Each host IP address (sequential order).
#hana_ips = ["10.0.0.10", "10.0.0.11"]

# HANA cluster secondary vip. This IP address is attached to the read-only secondary instance. Only needed if hana_active_active is set to true
# If the vip mechanism is the load balancer, this IP address must belong to the same subnet as the hana machines
#hana_cluster_vip_secondary = "10.0.0.13"
# If the vip_mechanism is the routing system, this IP address must NOT belong to the same subnet range than the hana machines
#hana_cluster_vip_secondary = "10.0.1.13"

# HANA instance configuration
# Find some references about the variables in:
# https://help.sap.com
# HANA instance system identifier. The system identifier must be composed by 3 uppercase chars/digits string starting always with a character (there are some restricted options).
#hana_sid = "PRD"
# HANA instance number. It's composed of 2 integers string
#hana_instance_number = "00"

# HANA primary site name. Only used if HANA's system replication feature is enabled (hana_ha_enabled to true)
#hana_primary_site = "Site1"
# HANA secondary site name. Only used if HANA's system replication feature is enabled (hana_ha_enabled to true)
#hana_secondary_site = "Site2"

# Cost optimized scenario
#scenario_type = "cost-optimized"

#######################
# SBD related variables
#######################

# In order to enable SBD, an ISCSI server is needed as right now is the only option
# All the clusters will use the same mechanism
# In order to enable the iscsi machine creation _fencing_mechanism must be set to 'sbd' for any of the clusters

# Hostname, without the domain part
#iscsi_name = "vmiscsi"

# iSCSI server image. By default, PAYG image is used. The usage is the same as the HANA images
#iscsi_os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"

# iSCSI server address
#iscsi_srv_ip = "10.0.0.4"
# Number of LUN (logical units) to serve with the iscsi server. Each LUN can be used as a unique sbd disk
#iscsi_lun_count = 3
# Disk size in GB used to create the LUNs and partitions to be served by the ISCSI service
#iscsi_disk_size = 10

# Type of VM (vCPUs and RAM)
#machine_type_iscsi_server = "custom-1-2048"

##############################
# Monitoring related variables
##############################

# Enable the host to be monitored by exporters
#monitoring_enabled = true

# Hostname, without the domain part
#monitoring_name = "vmmonitoring"

# Monitoring server image. By default, PAYG image is used. The usage is the same as the HANA images
#monitoring_os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"

# IP address of the machine where Prometheus and Grafana are running
#monitoring_srv_ip = "10.0.0.5"

########################
# DRBD related variables
########################

# Enable drbd cluster
#drbd_enabled = true

# Hostname, without the domain part
#drbd_name = "vmdrbd"

#drbd_machine_type = "n1-standard-4"

# DRBD machines image. By default, PAYG image is used. The usage is the same as the HANA images
#drbd_os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"

#drbd_data_disk_size = 15

#drbd_data_disk_type = "pd-standard"

# Each drbd cluster host IP address (sequential order).
#drbd_ips = ["10.0.0.20", "10.0.0.21"]

# DRBD cluster vip mechanism. This option decides whether to use a load-balancer or routes to forward the traffic to the virtual ip address.
# Options: "load-balancer" (default), "route"
#drbd_cluster_vip_mechanism = "load-balancer"

# If the vip mechanism is the load balancer, this IP address must belong to the same subnet as the hana machines
#drbd_cluster_vip = "10.0.0.22"
# If the vip_mechanism is the routing system, this IP address must NOT belong to the same subnet range than the hana machines
#drbd_cluster_vip = "10.0.1.22"

# Select DRBD cluster fencing mechanism. 'native' by default
#drbd_cluster_fencing_mechanism = "sbd"

# NFS share mounting point and export. Warning: Since cloud images are using cloud-init, /mnt folder cannot be used as standard mounting point folder
# It will create the NFS export in /mnt_permanent/sapdata/{netweaver_sid} to be connected as {drbd_cluster_vip}:/{netwaever_sid} (e.g.: )192.168.1.20:/HA1
#drbd_nfs_mounting_point = "/mnt_permanent/sapdata"

#############################
# Netweaver related variables
#############################

# Enable netweaver cluster
#netweaver_enabled = true

# Hostname, without the domain part
#netweaver_name = "vmnetweaver"

# Netweaver APP server count (PAS and AAS)
# Set to 0 to install the PAS instance in the same instance as the ASCS. This means only 1 machine is installed in the deployment (2 if HA capabilities are enabled)
# Set to 1 to only enable 1 PAS instance in an additional machine`
# Set to 2 or higher to deploy additional AAS instances in new machines
#netweaver_app_server_count = 2

#netweaver_machine_type = "n1-standard-8"

# Netweaver machines image. By default, PAYG image is used. The usage is the same as the HANA images
#netweaver_os_image = "suse-byos-cloud/sles-15-sp3-sap-byos"

# Set the Netweaver product id. The 'HA' sufix means that the installation uses an ASCS/ERS cluster
# Below are the supported SAP Netweaver product ids if using SWPM version 1.0:
# - NW750.HDB.ABAP
# - NW750.HDB.ABAPHA
# - S4HANA1709.CORE.HDB.ABAP
# - S4HANA1709.CORE.HDB.ABAPHA
# Below are the supported SAP Netweaver product ids if using SWPM version 2.0:
# - S4HANA1809.CORE.HDB.ABAP
# - S4HANA1809.CORE.HDB.ABAPHA
# - S4HANA1909.CORE.HDB.ABAP
# - S4HANA1909.CORE.HDB.ABAPHA
# - S4HANA2020.CORE.HDB.ABAP
# - S4HANA2020.CORE.HDB.ABAPHA
# - S4HANA2021.CORE.HDB.ABAP
# - S4HANA2021.CORE.HDB.ABAPHA

# Example:
#netweaver_product_id = "NW750.HDB.ABAPHA"

# NFS share to store the Netweaver shared files. Only used if drbd_enabled is not set. For single machine deployments (ASCS and PAS in the same machine) set an empty string
#netweaver_nfs_share = "url-to-your-netweaver-sapmnt-nfs-share"

# Path where netweaver sapmnt data is stored.
#netweaver_sapmnt_path = "/sapmnt"

# Preparing the Netweaver download basket. Check `doc/sap_software.md` for more information

# GCP storage where all the Netweaver software is available. The next paths are relative to this folder.
#netweaver_software_bucket = "MyNetweaverBucket"

# Netweaver installation required folders
# Additional media archives or folders (added in start_dir.cd), relative to netweaver_software_bucket folder
#netweaver_additional_dvds = ["dvd1", "dvd2"]

# Netweaver cluster vip mechanism. This option decides whether to use a load-balancer or routes to forward the traffic to the virtual ip address.
# Options: "load-balancer" (default), "route"
#netweaver_cluster_vip_mechanism = "load-balancer"

#netweaver_ips = ["10.0.0.30", "10.0.0.31", "10.0.0.32", "10.0.0.33"]

# If "netweaver_cluster_vip_mechanism" is "load-balancer", the ASCS/ERS IP addresses must belong to the same subnet as the netweaver machines
#netweaver_virtual_ips = ["10.0.0.34", "10.0.0.35", "10.0.1.36", "10.0.1.37"]
# If "netweaver_cluster_vip_mechanism" is "route", the ALL netweaver IP addresses must NOT belong to the same subnet as the netweaver machines
#netweaver_virtual_ips = ["10.0.1.34", "10.0.1.35", "10.0.0.36", "10.0.0.37"]

# Netweaver installation configuration
# Netweaver system identifier. The system identifier must be composed by 3 uppercase chars/digits string starting always with a character (there are some restricted options)
#netweaver_sid = "HA1"
# Netweaver ASCS instance number. It's composed of 2 integers string
#netweaver_ascs_instance_number = "00"
# Netweaver ERS instance number. It's composed of 2 integers string
#netweaver_ers_instance_number = "10"
# Netweaver PAS instance number. If additional AAS machines are deployed, they get the next number starting from the PAS instance number. It's composed of 2 integers string
#netweaver_pas_instance_number = "01"
# NetWeaver or S/4HANA master password. 
# It must follow the SAP Password policies such as having 8 - 14 characters for NetWeaver or 10 - 14 characters for S/4HANA.
# It cannot start with special characters and must contain a combination of
# upper and lower case characters and numbers (Invalid characters are backslash and double quote).
#netweaver_master_password = "SuSE1234"

# Enabling this option will create a ASCS/ERS HA available cluster together with a PAS and AAS application servers
# Set to false to only create a ASCS and PAS instances
#netweaver_ha_enabled = true

# Select Netweaver cluster fencing mechanism. 'native' by default
#netweaver_cluster_fencing_mechanism = "sbd"
