---
- name: Set base facts
  ansible.builtin.set_fact:
    cloud_platform_is_aws:   false
    cloud_platform_is_gcp:   false
    cloud_platform_is_azure: false
    
- name: "Detect AWS"
  block:

    - name: "Probe for AWS"
      ansible.builtin.shell: |
        set -e -o pipefail
        dmidecode -s system-manufacturer | grep -iq "Amazon EC2"
      changed_when: false
      failed_when: false
      register: probe_aws
    
    - name: Set AWS discovery fact
      ansible.builtin.set_fact:
        cloud_platform_is_aws: true
      when: probe_aws.rc == 0

# SEE: https://stackoverflow.com/questions/30911775/how-to-know-if-a-machine-is-an-google-compute-engine-instance
- name: "Detect GCP"
  block:

    - name: "Probe for GCP"
      shell: |
        set -e -o pipefail
        dmidecode -s bios-version | grep -iq "google"
      changed_when: false
      failed_when: false
      register: probe_gcp
    
    - name: Set GCP discovery fact
      ansible.builtin.set_fact:
        cloud_platform_is_gcp: true
      when: probe_gcp.rc == 0

# SEE: https://stackoverflow.com/questions/11570965/how-to-detect-azure-amazon-vm
- name: "Detect Azure"
  block:

    - name: "Probe for Azure 1/2"
      ansible.builtin.shell: |
        set -e -o pipefail
        dmidecode -s system-manufacturer | grep -iq "microsoft corporation"
      changed_when: false
      failed_when: false
      register: probe_azure_1
    
    - name: "Probe for Azure 2/2"
      ansible.builtin.shell: |
        set -e -o pipefail
        dmidecode -s system-product-name | grep -iq "virtual machine"
      changed_when: false
      failed_when: false
      register: probe_azure_2
    
    - name: Set Azure Discovery Fact
      ansible.builtin.set_fact:
       cloud_platform_is_azure: true
      when: probe_azure_1.rc == 0 or probe_azure_2.rc == 0

- name: "Set Cloud Platform"
  set_fact:
    cloud_platform_name: "{% if cloud_platform_is_azure %}azure{% elif cloud_platform_is_aws %}aws{% elif cloud_platform_is_gcp %}gcp{% else %}unknown{% endif %}"