---
- name: Check for stonith device
  ansible.builtin.command:
    cmd: crm resource status stonith-sbd
  register: sbd_status
  changed_when: false

- name: Set stonith device facts
  ansible.builtin.set_fact:
    # The crm output comprises of spaces and tabs.  The below regexp removes all the spaces to make
    # it a little easier to split.  Test version of crm is crmsh-4.3.1+20220321.bd33abac-150200.5.77.1.noarch
    sbd_device_name: "{{ (sbd_status.stdout | split(' '))[1] }}"
    sbd_device_status: "{{ (sbd_status.stdout | split(' '))[3] }}"
  when:
    - sbd_status is defined
    - sbd_status.stdout_lines|length == 1
    # The command should bring back only 1 line therefore another value than 1 is a failure!

- name: Ensure stonith device is stopped
  ansible.builtin.command:
    cmd: "crm resource stop {{ sbd_device_name }}"
  register: sbd_status
  changed_when: true
  when: sbd_device_status == 'Started' or sbd_device_status == 'running'

- name: Remove stonith device
  ansible.builtin.command:
    cmd: "crm configure delete {{ sbd_device_name }}"
  register: remove_stonith_result
  changed_when: remove_stonith_result.rc == 0
  when: sbd_device_name != 'NOresourcesconfigured'  # If no stonith was found 'NOresourcesconfigured' should be registered in {{ sbd_device_name }}

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Decide which SBD stonith agent to use
  ansible.builtin.set_fact:
    stonith_agent: >-
      {{ 'stonith:fence_sbd'
         if (
              'pacemaker' in ansible_facts.packages
              and ansible_facts.packages['pacemaker'][0].version is version('3.0.0', '>')
              and 'fence-agents-sbd' in ansible_facts.packages
            )
         else 'stonith:external/sbd'
      }}

- name: Create new SBD stonith device
  ansible.builtin.command:
    cmd: >-
      sudo
      crm configure primitive
      stonith-sbd
      {{ stonith_agent }}
      params
      pcmk_delay_max="15"
      op monitor interval="600" timeout="15"
  register: create_stonith
  changed_when: create_stonith.rc == 0
  notify: Write stonith status file
