---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Remove tuned on SLE12
  community.general.zypper:
    name: tuned
    state: absent
  when: ansible_facts['distribution_major_version'] == "12"

- name: Set saptune installation status
  ansible.builtin.set_fact:
    saptune_inst: "{{ ansible_facts.packages.saptune[0].version | default('not-installed') }}"
    tuned_inst: "{{ ansible_facts.packages.tuned[0].version | default('not-installed') }}"

- name: Ensure saptune is on latest version. Fix for failing service check.
  community.general.zypper:
    name: saptune
    state: latest
  when: saptune_inst != 'not-installed'

- name: Ensure saptune is stopped and disabled (if installed)
  ansible.builtin.systemd:
    name: saptune
    state: stopped
    enabled: no
  when: saptune_inst != 'not-installed'

- name: Ensure tuned is stopped and disabled (if installed)
  ansible.builtin.systemd:
    name: tuned
    state: stopped
    enabled: no
  when: tuned_inst != 'not-installed' and ansible_facts['distribution_major_version'] != "12"

- name: Ensure sapconf is installed
  community.general.zypper:
    name: sapconf=5.0.3
    state: present
  register: result
  until: result is succeeded
  retries: 3
  delay: 60

- name: Ensure sapconf daemon is started and enabled
  ansible.builtin.systemd:
    name: sapconf
    state: started
    enabled: yes

- name: Test that sapconf_check is available
  ansible.builtin.command: which sapconf_check
  register: which_sapconf
  changed_when: no
  failed_when: no

- name: Run sapconf_check
  ansible.builtin.command: sapconf_check
  changed_when: false
  when: which_sapconf.rc == 0 # don't run sapconf_check if sapconf_check is not found in the path.

#2205917 - SAP HANA DB: Recommended OS settings for SLES 12 / SLES for SAP Applications 12
# Increase UserTasksMax doesn't seem to be handled by sapconf
- name: Configure UserTasksMax
  ansible.builtin.blockinfile:
    create: yes
    path: /etc/systemd/logind.conf.d/sap.conf
    backup: yes
    owner: root
    group: root
    mode: '0644'
    block: |
      [Login]
      UserTasksMax=infinity
  notify: reboot

- name: Ensure Governor is set to Performance
  ansible.builtin.lineinfile:
    path: /etc/sysconfig/sapconf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { 'regexp': '^GOVERNOR=', 'line': 'GOVERNOR=performance'}
    - { 'regexp': '^PERF_BIAS=', 'line': 'PERF_BIAS=performance'}
  notify: reboot

# Usually handled by SAP tune and only really an issue on Azure
- name: Turn off TCP timestamps
  ansible.posix.sysctl:
    name: net.ipv4.tcp_timestamps
    value: '0'
    sysctl_set: yes
    state: present
    reload: yes

