---
- name: Gather service facts
  ansible.builtin.service_facts:

- name: Ensure that saptune 3.0 or greater is installed
  community.general.zypper:
    name: 'saptune>=3.0'
    state: present
  register: result
  until: result is succeeded
  retries: 3
  delay: 60

- name: Ensure conflicting services are stopped and disabled
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - sapconf.service
    - tuned.service
  when:
    - item in ansible_facts.services
    - ansible_facts.services[item].status != 'not-found'

- name: Ensure saptune is running and enabled
  ansible.builtin.systemd:
    name: saptune
    state: started
    enabled: true

- name: Ensure saptune_check executes correctly
  ansible.builtin.command: saptune_check
  register: sapchk
  changed_when: false
  failed_when: sapchk.rc != 0

- name: Discover active solution
  ansible.builtin.command: saptune solution enabled
  register: saptune_status
  changed_when: false

- name: Set fact for active solution
  ansible.builtin.set_fact:
    solution_configured: "{{ (saptune_status.stdout | regex_search('(\\S+)', '\\1'))[0] | default('NONE') }}"  # Capture the first block on none whitespace

- name: Show configured solution
  ansible.builtin.debug:
    var: solution_configured

# If this is a cluster node on Azure, we need to override to disable tcp timestamps, reuse and recycle.
# This can be done by copying the sapnote file 2382421 from /usr/share/saptune/notes to /etc/saptune/override
# The value can then override in the in the new file

- name: Disable TCP timestamps, recycle & reuse
  ansible.builtin.blockinfile:
    path: /etc/saptune/override/2382421
    create: true
    backup: true
    owner: root
    group: root
    mode: '0640'
    marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"
    block: |
     [sysctl]
     net.ipv4.tcp_timestamps = 0
     net.ipv4.tcp_tw_reuse = 0
     net.ipv4.tcp_tw_recycle = 0
  when:
    - cluster_node
    - cloud_platform_is_azure

- name: Check if saptune solution needs to be applied
  ansible.builtin.command: "saptune solution verify {{ saptune_solution }}"
  register: verify
  changed_when: false  # We're only checking, not changing!
  failed_when: false  # We expect this to fail if it has not previously been applied

- name: Ensure no solution is currently applied
  ansible.builtin.command: "saptune solution revert {{ solution_configured }}"
  when:
    - solution_configured != 'NONE'
    - verify.rc != 0
  changed_when: true  # This task, when run, is expected to make a change

- name: Ensure saptune solution is applied
  ansible.builtin.command: "saptune solution apply {{ saptune_solution }}"
  when: verify.rc != 0
  changed_when: true  # This task, when run, is expected to make a change

- name: Ensure solution was successful
  ansible.builtin.command: "saptune solution verify {{ saptune_solution }}"
  changed_when: false  # We're only checking, not changing!
